<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <link rel="stylesheet" href="style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap"
    rel="stylesheet"
  />
  <body>
    <nav>
      <h1>Yayoi Kusama</h1>
      <div class="nav">
        <a href="home">Home</a>
        <a href="about">About</a>
      </div>
    </nav>
    <img class="imgWork" src="images/exhibition1.jpeg" alt="img" />
    <img class="imgWork" src="images/exhibition2.jpeg" alt="img" />
    <img class="imgWork" src="images/exhibition3.jpeg" alt="img" />
    <img class="imgWork" src="images/exhibition4.jpeg" alt="img" />
  </body>
</html>
